{% load static %}
<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>BLOG ON BLOCKS!</title>
  </head>
  <body >
      <nav class="navbar navbar-expand-lg navbar-dark navbar-inverse" style="background-color: #00CED1; font-size: 20px">
          <div class="container-fluid">
          <a class="navbar-brand" href="#" style=" font-size: 30px">BoB </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
            <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <div class="row">
      <div class="form-inline my-2 my-lg-0">
      <label>PUBLIC KEY: </label>{{address}}</label>
      </div>
    </div>
  <!--   <div class="row">
      <div class="form-inline my-2 my-lg-0">
      {{balance}}
      </div>
    </div> -->
    </div>
    <br>
    
    
 </div>
</nav>
<div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

{% block scripts %}
<script >
              
  window.addEventListener('load', ()=>{

    if(typeof(web3)==='undefined')
    {
      console.log('NO WEB3')
    }
    else{
      console.log('FOUND WEB3')
    }
    web3= new Web3(window.web3.currentProvider);
    ethereum.enable();
  });
            
  const abi = [
  {
    "constant": false,
    "inputs": [
      {
        "name": "_index",
        "type": "uint256"
      }
    ],
    "name": "addAttendance",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_index",
        "type": "uint256"
      },
      {
        "name": "_compMarks",
        "type": "uint256"
      },
      {
        "name": "_mathMarks",
        "type": "uint256"
      },
      {
        "name": "_deMarks",
        "type": "uint256"
      },
      {
        "name": "_dsMarks",
        "type": "uint256"
      }
    ],
    "name": "addSubjectMarks",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_newAdmin",
        "type": "address"
      }
    ],
    "name": "authorizeAdmin",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "constant": false,
    "inputs": [
      {
        "name": "_name",
        "type": "string"
      },
      {
        "name": "_id",
        "type": "uint256"
      },
      {
        "name": "_batch",
        "type": "string"
      },
      {
        "name": "_stream",
        "type": "string"
      }
    ],
    "name": "newStudent",
    "outputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "inputs": [],
    "payable": false,
    "stateMutability": "nonpayable",
    "type": "constructor"
  },
  {
    "constant": true,
    "inputs": [],
    "name": "getAdmin",
    "outputs": [
      {
        "name": "",
        "type": "address"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [],
    "name": "getStuCount",
    "outputs": [
      {
        "name": "",
        "type": "uint256"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "",
        "type": "uint256"
      }
    ],
    "name": "scoresList",
    "outputs": [
      {
        "name": "ComputerScience",
        "type": "uint256"
      },
      {
        "name": "Maths",
        "type": "uint256"
      },
      {
        "name": "DigitaElectronics",
        "type": "uint256"
      },
      {
        "name": "DataScience",
        "type": "uint256"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  },
  {
    "constant": true,
    "inputs": [
      {
        "name": "",
        "type": "uint256"
      }
    ],
    "name": "studentList",
    "outputs": [
      {
        "name": "id",
        "type": "uint256"
      },
      {
        "name": "name",
        "type": "string"
      },
      {
        "name": "student_id",
        "type": "uint256"
      },
      {
        "name": "batch",
        "type": "string"
      },
      {
        "name": "stream",
        "type": "string"
      },
      {
        "name": "time",
        "type": "uint256"
      },
      {
        "name": "addedBy",
        "type": "address"
      },
      {
        "name": "attendanceCount",
        "type": "uint256"
      },
      {
        "components": [
          {
            "name": "ComputerScience",
            "type": "uint256"
          },
          {
            "name": "Maths",
            "type": "uint256"
          },
          {
            "name": "DigitaElectronics",
            "type": "uint256"
          },
          {
            "name": "DataScience",
            "type": "uint256"
          }
        ],
        "name": "subjects",
        "type": "tuple"
      }
    ],
    "payable": false,
    "stateMutability": "view",
    "type": "function"
  }
]
  const address="0xf281Cd85d5C2fC016e671d1b93a8Fcd133E2Af68"

              
            </script>
{% endblock scripts %}

<div class="container" style="margin-top: 50px">
      <div class="row d-flex justify-content-between" style="margin-top: 50px">
        <div class="col-md-6 col-lg-4"> 
          <div class="card">
            <img class="card-img-top" src="#" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">VIEW RECORDS</h3>
              <p class="card-text">Get access to some of the best contents all over the Internet.</p>
              <a href="{% url 'students' %}" class="btn btn-primary">Student Records</a>
            </div>
          </div>
        </div>
        <div>
          <h1>sjdhljsh</h1>
        </div>
     
      </div>

      <div class="row d-flex justify-content-between" style="margin-top: 50px">
        <div class="col-md-6 col-lg-4"> 
          <div class="card">
            <img class="card-img-top" src="#" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">READ POSTS ON BLOCKS</h3>
              <p class="card-text">Get access to some of the best contents all over the Internet.</p>
              <a href="{% url 'addStudent' %}" class="btn btn-primary">Add New Student</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
     <div class="row d-flex justify-content-between" style="margin-top: 50px">
        <div class="col-md-6 col-lg-4"> 
          <div class="card">
            <img class="card-img-top" src="#" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">ADD ATTENDANCE AND MARKS</h3>
              <p class="card-text">Get access to some of the best contents all over the Internet.</p>
              <a href="{% url 'modify' %}" class="btn btn-primary">ADD NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
      
      </div>
    </div>
</div>


</div>             
</div>
    </main> 
<!-- Footer -->
<footer class="page-footer font-small teal pt-4" style="background:DarkTurquoise; margin-top: 1000px">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
          repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
          harum esse fugiat. Itaque, culpa?</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
          commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
          excepturi hic.</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <!-- Optional JavaScript
    <!- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

